[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "themes/tmux-colors-solarized"]
	path = themes/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "consolas-powerline-vim"]
	path = consolas-powerline-vim
	url = https://github.com/eugeneching/consolas-powerline-vim.git
[submodule "_vim/bundle/unite.vim"]
	path = _vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "_vim/bundle/vim-vagrant"]
	path = _vim/bundle/vim-vagrant
	url = https://github.com/markcornick/vim-vagrant.git
